In [4]:
import pandas as pd

# Create a sample DataFrame
data = {'Name': ['John', 'Emma', 'Liam', 'Olivia'],
        'Age': [25, 30, 28, 35],
        'City': ['NY', 'London', 'Sydney', 'Paris'],
        'Salary': [5000, 6000, 5500, 7000]}

df = pd.DataFrame(data)

# Display the DataFrame
print(df)

# Perform basic data analysis using Pandas
# Calculate the mean of the 'Age' column
age_mean = df['Age'].mean()
print('Mean Age:', age_mean)

# Calculate the maximum salary
max_salary = df['Salary'].max()
print('Maximum Salary:', max_salary)

     Name  Age    City  Salary
0    John   25      NY    5000
1    Emma   30  London    6000
2    Liam   28  Sydney    5500
3  Olivia   35   Paris    7000
Mean Age: 29.5
Maximum Salary: 7000